bazel-*

.vscode/*

test/redis/stats/*
test/redis/build.sh
test/hello_world/stats/*

stats/*

profile/* 

benchmarks/redis-custom-bench/stats/*
benchmarks/redis-custom-bench/smem/*
benchmarks/redis-custom-bench/pic/*
benchmarks/redis-custom-bench/log/*
benchmarks/redis-custom-bench/bench_profile

benchmarks/minh-custom-bench/stats/*
benchmarks/minh-custom-bench/smem/*
benchmarks/minh-custom-bench/pic/*
benchmarks/minh-custom-bench/log/*
benchmarks/minh-custom-bench/./hello_world
benchmarks/minh-custom-bench/*.o
benchmarks/minh-custom-bench/bench_profile
